* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// TODO

:root {
  --highlight: #FF57B2;
  --background: #1A1D23;
  --heading: #F8F8F8;
  --body: #D7D7D7;
  --info: #BBBBBB;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--body);
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
  letter-spacing: -0.5px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading);
  font-weight: 700;
  letter-spacing: -0.5px;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}