// TODO
.banner {
  width: 100%;
}

.container {
  max-width: 720px;

  padding: 0 1.25rem;
  margin: 0 auto; 
  margin-top: 5rem;

  font-size: 1.125rem;
  line-height: 1.575rem;
  text-align: justify;

  article {
    header {
      margin-bottom: 4rem;

      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }

      footer {
        display: flex;
        flex-direction: row;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;

          & + div {
            margin-left: 1.5rem;
          }

          .icon {
            margin-right: 0.625rem;
          }

          time {
            font-size: 0.875rem;
            color: var(--info);
          }

          p {
            font-size: 0.875rem;
            color: var(--info);
          }
        }
      }

      > time {
        font-size: 0.875rem;
        font-style: italic;
        color: var(--info);
      }
    }

    h2 {
      font-size: 2.25rem;
      margin: 2.5rem 0;
    }

    p, ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    strong {
      font-weight: 700;
    }

    a {
      color: var(--highlight);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    height: 0.5px;
    margin: 3rem 0;

    border-width:0;
    opacity: 0.1;
    background-color:var(--body);
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5rem;

    div {
      &.prevPost {
        text-align: left;
      }

      &.nextPost {
        text-align: right;
      }

      h3 {
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom:0.4rem;
      }

      a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--highlight);

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}